<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/jass.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <title>AnimeOne</title>
  </head>
  <body>
    <header>
      <section>

        <nav>
          <img class="logo" src="/assets/logo2.png" />
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
          </ul>
          {{#if logged_in}}
            <a href="/dashboard">dashboard</a>
            <button class="no-button" id="logout">logout</button>

          {{/if}}
        </nav>
      </section>
    </header>
    <main>
      <section>
        {{{body}}}
      </section>
    </main>
    <footer>

    </footer>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>